﻿<%@ Page Title="Contact" Language="C#" MasterPageFile="Site.Master" AutoEventWireup="true" CodeBehind="Contact.aspx.cs" Inherits="Appraisals.Contact" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h3>For technical queries contact: <a href="mailto:david.slater@shared-ed.co.uk;russ.davidson@shared-ed.co.uk">MIS Support</a><br /></h3>
  

</asp:Content>
